.accordion {
  padding-left: 10%;
}

.accordion-item {
  border: 1px solid #ccc;
  margin-bottom: 5px;
  width: 80vw;

}

.accordion-title {
  cursor: pointer;
  padding: 10px;
  background-color: #f0f0f0;
  align-items: center;
  justify-content: center;
  display: flex;
}

.accordion-title.active {
  background-color: #ddd;
}

.accordion-content {
  padding: 10px;
}

/* star rating */

.star-rating {
  font-size: 24px;
  padding-left: 45%;


}

.star {
  cursor: pointer;
}

.star.selected {
  color: gold;
}

/* image slider */

.image-slider {
  position: relative;
}
.images{
  width: 100vw;
  height: 100vh;
}

.slider {
  display: flex;
  overflow-x: hidden;
}

.slide {
  display: none;
}

.slide.active {
  display: block;
}

.prev,
.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 1;
}

.prev {
  left: 0;
}

.next {
  right: 0;
}